@model EmployeeModel

    <h3>Employee Details</h3>

<table class="table table-bordered table-striped">
    <tr>
        <td>Name</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <td>Salary</td>
        <td>@Model.Salary</td>
    </tr>
</table>
<a href="/Employee/Index">Go back to list</a>